.navbar{
  display: inline;
}
.navbar_upper{
  display: flex;
  background-color: blue;
  justify-content: space-around;
  margin: 0 0;
  padding: 9px;
}

.navbar_upper_left{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}



.navbar_upper_left_phone{
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
}

.navbar_upper_left_email{
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
}


.navbar_upper_social_list{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px;
}

.navbar_upper_social_list>li{
  margin: 0px 15px;
}

.navbar_upper_social_links{
  font-size: 17px;
  margin: 0px 0px;
}

.navbar_lower {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  transition: all 0.3s linear 0s;
}

.navbar_lower_brand{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  width: 170px;
  transition: all 0.3s linear 0s;
}

.navbar_logo{
  width: 100%;
}

  
.navbar_lower_menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 10px 0px;
  gap: 2.5rem;
  font-size: 16px;
  transition: all 0.3s linear 0s;
}

.navbar_lower_menu_link{
  text-decoration: none;
  font-size: 16px;
  color: #030d1d;
  transition: all 0.3s linear 0s;
  padding: 25px 0px;
  position: relative;
}

.navbar_lower_menu_links:hover{
  color: #076cec;
  transition: all 0.3s linear 0s;
}

.navbar_lower_menu_links{
  color: #030d1d;
  text-decoration: none;
  transition: all 0.3s linear 0s;
}

.navbar_lower_menu_btn{
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none; 
  display: none;
  opacity: 0;
  font-size: 1.1rem;
}

  .navbar_lower_icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    margin: 25px;
  }

  .navbar_lower_icons_items_link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
  }

  .cart-trolly{
    position: relative;
  }
  .navbar-lower-icons-cart{
    position: relative;
  }
  .navbar-lower-icons-cartItemCount{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #076cec;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    top: -64%;
    left: 90%;
  }
.navbar_lower_icons_items_link:hover {
  color: lightblue;
}

  @media screen and (max-width: 1024px) {
    .navbar_lower_menu_btn{
      visibility: visible;
      opacity: 1;
      display: block;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .navbar_lower_menu{
      position: fixed;
      top: 0;
      right: 0;
      width: 250px;
      height: calc(100vh);
      display: flex;
      align-items:flex-start;
      justify-content:flex-start;
      flex-direction: column;
      gap: 1.5rem;
      background-color: rgb(245, 250, 250);
      transition: 1s;
      z-index: 999;
      gap: 0rem;
      font-size: 16px;
    }
  
    .responsive_nav{
      transform: none;
      display: none;
    }
    
    .navbar_lower_menu_btn closeBtn{
      position: absolute;
      top: 0rem;
      right: 1rem;
    }
    .navbar_lower_menu_link{
      width: 100%;
      font-size: 1.5rem;
      padding: 10px 0px;
    }
    .navbar_lower_menu_links{
      text-align: center;
      padding: 1.5rem;
      width: 100%;
      padding: 0;
      margin-left: 10px;
    }
    .navbar_lower_menu_links:hover{
      color: white;
    }
    .navbar_lower_menu_link:hover{
      background-color: #076cec;
      color: #fbfafc;
    }
  }
  
  @media (max-width: 786px) {
    .navbar_lower{
      display: block;
    }
    .navbar_lower_brand{
      width: 100%;
    }
    .navbar_logo{
      width: 25%;
      align-items: center;
    }
    
    .navbar_upper_left{
      display: block;
    }
    .navbar_upper{
      display: block;
    }
    .navbar_lower_menu_btn{
      display: block;
      text-align: center;
      margin: 10px 45%;
    }
  }