.myAccPage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px 50px;
}

.myAccForm_head{
    display: block;
    text-align: start;
    margin: 20px;
}

.form-container {
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .form-container button {
    font-size: 12px;
    letter-spacing: 2px;
    margin: 0;
    padding: 15px 50px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #076cec;
    transition: all 300ms linear 0s;
    border-radius: 5px;
    font-weight: 700;
    outline: medium none;
    border: 0;
    left: auto;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
  }
  
  .form-container button:hover {
    background-color: #0056b3;
  }

.formContainer_checkbox{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.formContainer_checkbox input[type="checkbox"]{
    width: 20px;
    padding: 8px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.formContainer_lostPass{
    text-align: center;
    color: #076cec;
    transition: all 0.3s linear;
}
.formContainer_lostPass a{
    text-decoration: none;
    transition: all 0.3s linear;
}

  